.home h1 {
    text-align: center;
}
.home a{
    margin:8%;
}
.home a.sp:hover {
    color:lightcoral;
    
}
.home a.sp {
    margin: 5px;
}
.row {
    display: flex;
    justify-content: space-around;
}
.kolumna {
    width: 30%;
}
.home p {
    margin:10px;
    background-color: lightblue;
}

@media (max-width:700px) {
    .row {
        flex-direction: column;

    }
    .kolumna {
        width: 100%;
    }
}